section.contenedor{
    width: 800px;
    height: 700px;
    background-color:orange ;
    margin: 0 auto;
}
.caja_amarillo{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 7px;
    transition-property: background-color, border-radius;
    transition-duration: 2000ms;
    
}
.caja_amarillo:hover{
    background-color: beige;
    border-radius: 50%;


}
.caja_rojo{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 68, 0);
    border-radius: 7px;
    transition: all 2500ms;
    
}
.caja_rojo:hover{
    background-color: beige;
    opacity: .1;
    transform: scale(0.95);
  
}
.caja_verde{
    width: 200px;
    height: 200px;
    background-color: rgb(25, 179, 11);
    border-radius: 7px;
    transition: all 2000ms;
}
.caja_verde:hover{
    background-color: rgba(27, 121, 44, 0.733);
}
.caja_verde:active{
    transform: scale(0.6);
}
div{
    display: inline-block;
    margin: 0 auto;
}